<%= form_with(model: reply, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <b><%= form.label "Your reply" %></b>
    <%= form.text_area :content, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= form.hidden_field(:user_id, value: current_user.id)%>
    <%= form.hidden_field(:comment_id, value: params[:comment_id])%>
  </div>

  <div class="form-group mt-2">
    <%= form.submit "Reply", class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
