<p id="notice"><%= notice %></p>

<h1>Replies</h1>

<table>
  <thead>
    <tr>
      <th>User Id</th>
      <th>Comment Id</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.user_id %></td>
        <td><%= reply.comment_id %></td>
        <td><%= reply.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
<br>

