<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @api_v1_reply.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @api_v1_reply.show %>
</p>

<%= link_to 'Edit', edit_api_v1_reply_path(@api_v1_reply) %> |
<%= link_to 'Back', api_v1_replies_path %>
