<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @api_v1_organization_file.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @api_v1_organization_file.show %>
</p>

<%= link_to 'Edit', edit_api_v1_organization_file_path(@api_v1_organization_file) %> |
<%= link_to 'Back', api_v1_organization_files_path %>
