<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table width="30%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
<br>
