<%= form_with(model: api_v1_organization, local: true) do |form| %>
  <% if api_v1_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_v1_organization.errors.count, "error") %> prohibited this api_v1_organization from being saved:</h2>

      <ul>
        <% api_v1_organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :index %>
    <%= form.text_field :index %>
  </div>

  <div class="field">
    <%= form.label :show %>
    <%= form.text_field :show %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
