<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="row ml-0">
  <% @users.each do |user| %>
    <div class="card ">
      <div class="mx-auto card-header">
        <% if user.avatar.attached? %>
          <%= link_to image_tag(user.avatar, class: "bd-placeholder-img rounded-circle", width:"140",height:"140", background: "#55595c", color: "#eceeef"), url_for(user) %>
        <% else %>
          <%= link_to image_tag("thumbnail.svg", class: "bd-placeholder-img rounded-circle", width:"140",height:"140", background: "#55595c", color: "#eceeef"), url_for(user) %>
        <% end %>
      </div>
      <div class="card-body">
        <div class="p-1 "></div>
        <h1><%=link_to user.user_name, user %></h1>
        <p><strong>Email: </strong><%= user.email %></p>
      </div>
    </div>
    <div class="m-1 bg-warning"></div>
  <% end %>
</div>
<br>
