<div class="row">
  <div class="col-sm-4">
    <% if @user.avatar.attached? %>
      <%= link_to image_tag(@user.avatar, class: "bd-placeholder-img rounded-circle", width:"140",height:"140", background: "#55595c", color: "#eceeef"), url_for(@user) %>
    <% else %>
      <%= link_to image_tag("thumbnail.svg", class: "bd-placeholder-img rounded-circle", width:"140",height:"140", background: "#55595c", color: "#eceeef"), url_for(@user) %>
    <% end %>

    <div class="p-1 "></div>
    <h1><%= @user.user_name %></h1>
    <p><strong>Name: </strong><%= @user.first_name %> <%= @user.last_name %></p>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Address: </strong><%= @user.address %></p>
    <p><strong>Phone: </strong><%= @user.phone %></p>
    <p><strong>Role: </strong>
      <% if @user.admin %>
        Administrador
      <% else %>
        No Role
      <% end %></p>

  </div>
  <div class="col-sm-8">
    <div class="m-2 pb-5 "> </div>
    <p><strong>Biography: </strong><%= @user.bio %></p>
  </div>
</div>

<%= link_to 'Back', users_path , class: ["btn", "btn-primary"] %>
<% if user_signed_in? %>
  <% if current_user.id == @user.id || current_user.admin%>
    <%= link_to 'Edit', edit_user_path , class: ["btn", "btn-primary"] %>
    <%= link_to 'Change Password', edit_user_registration_path , class: ["btn", "btn-primary"]%>
  <%end %>
<%end %>
<hr>
<% if user_signed_in? %>
  <% if current_user.id == @user.id || current_user.admin%>
    <h1>User Events</h1>
    <div class="row">
      <% @events.each do |event| %>
        <% if event.user_id == @user.id %>
          <%= render partial: 'events/event_tile', locals: { event: event } %>
        <% end %>
      <% end %>
    </div>

    <hr>
    <h1>User Invited Events</h1>
    <div class="row">
      <%Invitation.where(user_id: @user.id).each do |invitation| %>
        <% if invitation.user_id == @user.id %>
          <% @events.each do |event| %>
            <%if event.id == invitation.event_id%>
              <%= render partial: 'events/event_tile', locals: { event: event } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>


