<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @api_v1_membership.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @api_v1_membership.show %>
</p>

<%= link_to 'Edit', edit_api_v1_membership_path(@api_v1_membership) %> |
<%= link_to 'Back', api_v1_memberships_path %>
