<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @api_v1_report.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @api_v1_report.show %>
</p>

<%= link_to 'Edit', edit_api_v1_report_path(@api_v1_report) %> |
<%= link_to 'Back', api_v1_reports_path %>
