<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @api_v1_event_file.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @api_v1_event_file.show %>
</p>

<%= link_to 'Edit', edit_api_v1_event_file_path(@api_v1_event_file) %> |
<%= link_to 'Back', api_v1_event_files_path %>
