<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <% if event.picture.attached? %>
      <%= link_to image_tag(event.picture, width: "100%"), url_for(event) %>
    <% else %>
      <%= link_to image_tag("thumbnail.svg", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef"), url_for(event) %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= link_to event.title, event %></p>
      <% if event.organization_event%>
        <% @event_organizations.each do |event_organization| %>
          <% if event.organization_id == event_organization.id %>
            <p class="card-text"><b>Organization:</b> <%= event_organization.name %></p>
          <% end %>
        <% end %>
      <% else %>
        <p class="card-text"><b>Author:</b> <%= User.where(id: event.user_id).first.user_name %></p>
      <% end %>
      <p class="card-text"><%= event.description %></p>
      <p class="card-text"><b>Where:</b> <%= event.location %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", event %></button>
          <% if user_signed_in? %>
            <% if current_user.id == event.user_id%>
              <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", event %></button>
            <%end %>
          <%end %>
        </div>

        <% if event.state == "On Vote"%>
          <small class="text-muted"><%= "Scheduled: On Vote" %></small>
        <% end %>
        <% @event_dates.each do |event_date| %>
          <% if event.organization_id == event_date.event_id and event_date.final_date == true and event.state == "Voted"%>
            <small class="text-muted"><%= "Scheduled: #{((event_date.event_option).to_date).to_s}" %></small>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>