<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

  <%= form_with model: event, local: true do |form| %>
    <div class="row ">
      <div class="col ">
        <div class="form-group">
         <b> <%= form.label :title %></b>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
         <b> <%= form.label :description %></b>
          <%= form.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
         <b> <%= form.label :picture %></b>
          <%= form.file_field :picture, class: "form-control-file"%>
        </div>
        <div class="form-group">
          <b> <%= form.label :files %></b>
          <%= form.file_field :files_things, multiple: true, class: "form-control-file"%>
        </div>
        <div class="form-group">
          <b> <%= form.label :videos %></b>
          <%= form.file_field :videos, multiple: true, class: "form-control-file"%>
        </div>
        <div class="form-group">
         <b> <%= form.label :location %></b>
          <%= form.text_field :location, class: "form-control"%>
        </div>

        <div class="form-group">
         <b> <%= form.label :private_event %></b>
          <%= form.check_box :private_event  %>
        </div>
        <div class="form-group">
         <b> <%= form.label :organization_event %></b>
          <%= form.check_box :organization_event  %>
        </div>
        <div class="form-group">
          <%= form.label :organization %>
          <%= form.collection_select(:organization_id, Organization.all.order(name: :asc), :id, :name, {}, { class: "form-control" }) %>
        </div>
        <div class="form-group">
          <%= form.label :user %>
          <%= form.collection_select(:user_id, User.all.order(user_name: :asc), :id, :user_name, {}, { class: "form-control" }) %>
        </div>
        <div class="form-group mt-2">
          <%= form.submit "submit", class: ["btn", "btn-primary"] %>
          <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
        </div>
      </div>
      <div class="col ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= event_date_section_title %></h5>
            <p><%= event_date_instruction_text %></p>
            <%=form.fields_for :event_dates do |event_dates_form| %>
              <div class="form-group">
                <%= event_dates_form.label "Event Date Option" %>
                <%= event_dates_form.datetime_field :event_option, min: Date.today, class: "form-control"%>
                <% if action_name == 'edit' %>
                  <%= event_dates_form.label "Delete"%>
                  <%= event_dates_form.check_box :_destroy %>
                <% end %>
                <%= event_dates_form.submit "submit", class: ["btn", "btn-primary"] %>
                <hr>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= hidden_field_tag(:final_date, false)%>
        <%= hidden_field_tag(:event_id, event.id)%>
        <%= hidden_field_tag(:state, "On Vote")%>
        <%= hidden_field_tag(:user_id, event.user_id)%>
        <%= hidden_field_tag(:organization_id, 0)%>
      </div>
    <% end %>
  </div>
