<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Events</h1>
    </div>
    <% if user_signed_in?%>
      <div class="col">
        <%= link_to "Start a new Event", new_event_path, class: ["btn", "btn-primary"] %>
      </div>
    <% else %>
      <div class="col">
        <%= link_to "Start a new Event",user_session_path, class: ["btn", "btn-primary"] %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @events.each do |event| %>
      <% if event.private_event != true %>
        <%= render partial: 'event_tile', locals: { event: event } %>
      <% end %>
      <% if event.user_id == current_user.id %>
        <%= render partial: 'events/event_tile', locals: { event: event } %>
      <% end %>
    <% end %>
  </div>
</div>




