<p id="notice"><%= notice %></p>
<h1>Events</h1>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Back', events_path %>
<%= link_to 'EventFiles', event_event_files_path(@event.id) %>
<%= link_to 'Comments', event_comments_path(@event.id) %>
<%= link_to 'EventDate', event_event_dates_path(@event.id) %>
<%= link_to 'Invitation', event_invitations_path(@event.id) %>
<%= link_to 'Reports', event_reports_path(@event.id) %>
