<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @event.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @event.show %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
