<p id="notice"><%= notice %></p>

<h1>Invitations</h1>

<table width="30%">
  <thead>
    <tr>
      <th>Id Invitation</th>
      <th>Id User</th>
      <th>Acceptance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.id %></td>
        <td><%= invitation.user_id %></td>
        <td><%= invitation.acceptance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', :back %>
<br>
