<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @invitation.user_id %>
</p>

<p>
  <strong>Show:</strong>
  <%= @invitation.acceptance %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitation_path %>
