<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @api_v1_vote.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @api_v1_vote.show %>
</p>

<%= link_to 'Edit', edit_api_v1_vote_path(@api_v1_vote) %> |
<%= link_to 'Back', api_v1_votes_path %>
