<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @event_date.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @event_date.show %>
</p>

<%= link_to 'Edit', edit_event_date_path(@event_date) %> |
<%= link_to 'Back', event_dates_path %>
