<p id="notice"><%= notice %></p>
<h1>Event Date</h1>
<p>
  <strong>Event Id:</strong>
  <%= @event_date.event_id %>
</p>

<p>
  <strong>Event Option:</strong>
  <%= @event_date.event_option %>
</p>

<%= link_to 'Back', :back %>
<%= link_to 'Votes', user_votes_path(@event_date.id) %>