<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @organization.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @organization.show %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
