<p id="notice"><%= notice %></p>
<h1>Organization</h1>
<p>
  <strong>Index:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Show:</strong>
  <%= @organization.description %>
</p>

<%= link_to 'Back', organizations_path %>
<%= link_to 'OrganizationFiles', organization_organization_files_path(@organization.id) %>
<%= link_to 'memberships', organization_memberships_path(@organization.id) %>
